/* Mobile View */
@media (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-areas: 
    "header"
    "aside"
    "smaller"
    "section"
    "footer";
  }
  #section {
    grid-area: section;
    overflow: hidden;
    width: 480px;
  }
  .box {
    display: inline-block;
    /* grid-row: auto; */
    width: 146px;
    height: 250px;
    line-height: 250px;
  }
  .rect {
    height: 125px;
    line-height: 125px;
  }
  #heading {
    grid-area: header;
    height: 75px;
    line-height: 75px;
  }
  #aside {
    grid-area: aside;
    height: 150px;
    line-height: 150px;
  }
  footer {
    grid-area: footer;
    height: 80px;
    line-height: 100px;
  }

}
/* Tablet View */

@media (max-width: 767px) {
   .wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-areas: 
    "header"
    "aside"
    "smaller"
    "section"
    "footer";
  }
  #section {
    grid-area: section;
    float: left;  
  }
  .box {
    width: 146px;
    height: 250px;
    line-height: 250px;
  }
  #smaller {
    grid-area: smaller;
    width: 600px;
  }
  .rect {
    height: 150px;
    min-width: 309.5px;
    line-height: 150px;
  }

  #heading {
    grid-area: header;
    height: 100px;
    line-height: 100px;
  }
  #aside {
    grid-area: aside;
    height: 600px;
    line-height: 150px;
  }
   footer {
    grid-area: footer;
    height: 80px;
    line-height: 100px;
  }

}
/* Desktop View */
@media (min-width: 768px) {
  #heading {
    grid-area: header;
    width: 960px;
    height: 100px;
    line-height: 100px;
  }
  #aside {
    grid-area: aside;
    width: 200px;
    height: 600px;
    line-height: 600px;
  }
  #smaller {
    grid-area: smaller;
    width: 760px;
  }
  .rect {
    height: 200px;
    min-width: 375.5px;
    line-height: 200px;
  }
  #section {
    /* width: 960px; */
    grid-area: section;
  }
  .box {
    grid-row: auto;
    height: 250px;
    line-height: 250px;
    margin: 0px;
    padding: 0px;
  }  
  footer {
    grid-area: footer;
    height: 150px;
    width: 600px;
    line-height: 150px;
  }
  .wrapper {
    /* display: grid; */
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header"
    "aside smaller"
    "aside section"
    "aside footer";
    background-color: #2196F3;
    /* grid-gap: 10px; */

  }

}