@media (max-width: 767px) {
  div {
    border: 1px solid black;
    vertical-align: middle;
  }
  .box {
    background-color: dodgerblue;
  }
  .rect {
    background-color: violet;
  }
  #heading {
    background-color: yellow;
  }
  footer {
    background-color: orange;
  }
  #aside {
    background-color: peachpuff;
  }
}

@media (min-width: 768px) {
  div {
    border: 1px solid red;
    vertical-align: middle;
    background-color: #999;
  }
}